* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.5s;
}

html, body {
  font-family: 'Barlow', sans-serif;
  width: 100%;
  height: 100%;
}

.svse__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 10px 16px;
}

.header__top-row {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}

.header__img {
  margin-left: 10px;
}

.header__title {
  font-weight: 600;
  color: #2B2F39;
  font-size: 18px;
  line-height: 20px;
}

.search-bar__container {
  padding: 16px;
  display: flex;
  margin-bottom: 16px;
}

.search-bar__input {
  display: flex;
  flex-grow: 1;
  border: none;
  outline: none;
  color: #2B2F39;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.25px;
  font-family: 'Barlow', sans-serif;
}

.search-bar__input::placeholder {
  font-family: 'Barlow', sans-serif;
  color: #9499A6;
}

.search-bar__img {
  width: 16px;
  height: 16px;
}

.video-list__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 27px;
}

.video-list__item {
  display: flex;
  gap: 16px;
  width: 100%;
  height: 90px;
  padding: 8px;
  position: relative;
}

.video-list__image {
  width: 132px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
}

.video-list__time-duration {
  background: #000000;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.25px;
  text-align: center;
  border-radius: 2px;
  width: min-content;
  height: 15px;
  position: absolute;
  left: 109px;
  bottom: 12px;
  padding: 1px 4px;
}

.video-list__info-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.video-list__title {
  height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.25px;
  color: #2B2F39;
  margin: 0 8px 8px 0;
  cursor: pointer;
}

.video-list__person-name {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.25px;
  color: #9499A6;
  margin-bottom: 14px;
}

.video-list__videoDetails {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.video-list__linkDiv {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.video-list__videoDetails-img {
  position: relative;
  width: 10px;
  height: 10px;
  margin-right: 4px;
}

.video-list__videoDetails-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.25px;
  color: #5D6067;
}

.video-list__videoDetails-link::first-letter {
  text-transform: capitalize;
}

.video-list__videoDetails-views {
  display: flex;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.25px;
  color: #5D6067;
}

.navigation__bottom-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 16px;
  padding: 16px;
}

.navigation__button {
  display: none;
  border: none;
  background: transparent;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #2B2F39;
  align-items: center;
  text-align: center;
  gap: 7px;
  cursor: pointer;
}

.navigation__page-number {
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: #5D6067;
}

.navigation__google-link {
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  line-height: 10px;
  font-weight: 500;
  color: #2A8CFF;
  text-decoration: none;
  display: none;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.navigation__google-link--active {
  display: block;
}

.navigation__google-search-icon {
  width: 10px;
  height: 10px;
}

#navigation__google-link-b {
  font-weight: 700;
}

.show {
  display: flex;
}

.embed-player__container {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  background-color:#202124;
  width: 100%;
  height: 100%;
  z-index: 1;
  justify-content:space-between;
}

.embed-player__video {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.embed-player__video-title {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.25px;
  color: white;
  margin-bottom: 8px;
}

.embed-player__iframe {
  position: relative;
  padding-bottom: 56.25%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.embed-player__text-con {
  padding: 0 24px;
  margin-top: 16px;
}

.embed-player__container--active {
  display: flex;
}

.embed-player__video-close {
  width: 32px;
  height: 32px;
  align-self: flex-end;
  margin: 10px 10px 0 0;
}

.embed-player__video-info {
  display: flex;
  align-items: center;
}

.embed-player__video-info > .video-list__person-name {
  margin: 0 16px 0 0;
}

.embed-player__video-info > .video-list__videoDetails-views {
  margin: 0 16px 0;
}

.embed-player__links {
  display: flex;
  padding: 0 16px;
  justify-content: space-between;
  margin-bottom: 16px;
}

.embed-player__button {
  display: flex;
  width: 80px;
  height: 34px;
  outline: none;
  text-decoration: none;
  color: white;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: none;
}

.visit {
  background-color: #2A8CFF;
}

.close {
  background-color: #5D6067;
}

@media only screen and (min-width: 600px) {
  .svse__container {
    max-width: 700px;
    padding: 40px 20px 32px;
    margin: auto;
  }

  .header__top-row {
    gap: 16px;
    margin-bottom: 30px;
  }

  .header__img {
    width: 32px;
  }

  .header__title {
    font-size: 24px;
    line-height: 32px;
  }

  .search-bar__container {
    padding: 24px;
    margin-bottom: 24px;
  }

  .search-bar__input {
    font-size: 24px;
    line-height: 24px;
  }

  .search-bar__img {
    width: 32px;
    height: 32px;
  }

  .video-list__container {
    gap: 10px;
    margin-bottom: 35px;
  }

  .video-list__item {
    height: 135px;
    padding: 12px;
  }

  .video-list__image {
    width: 200px;
    border-radius: 12px;
  }

  .video-list__time-duration {
    font-size: 15px;
    line-height: 15px;
    border-radius: 5px;
    height: 20px;
    left: 162px;
    bottom: 22px;
    padding: 2px 6px;
  }

  .video-list__title {
    height: 36px;
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 0.5px;
    margin: 0 14px 14px 0;
  }

  .video-list__person-name {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 20px;
  }

  .video-list__videoDetails-img {
    width: 25px;
    height: 25px;
    margin-right: 8px;
  }

  .video-list__videoDetails-link {
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.5px;
  }

  .video-list__videoDetails-views {
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.5px;
  }

  .navigation__button {
    font-size: 18px;
    line-height: 20px;
    gap: 12px;
    cursor: pointer;
  }

  .navigation__page-number {
    font-size: 18px;
    line-height: 18px;
    color: #5D6067;
  }

  .navigation__arrow {
    width: 18px;
    height: 18px;
  }

  .navigation__google-link {
    font-size: 20px;
    line-height: 20px;
  }

  .navigation__google-search-icon {
    width: 20px;
    height: 20px;
  }

  .unshow {
    display: none;
  }

  .embed-player__iframe {
    position: relative;
    padding-bottom: 50%;
  }

  .embed-player__text-con {
    display: flex;
    justify-content: space-between;
  }

  .embed-player__container {
    height: 100%;
    background-color: white;
  }

  .embed-player__video-title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 12px;
  }

  .embed-player__button {
    width: 100px;
    height: 30px;
    font-size: 16px;
    line-height: 14px;
  }

  .embed-player__links {
    position: absolute;
    gap: 20px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
}
